<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477099067858-8om5r01tu8nhiuh22o6229l8mu0dgkbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477099067858-8om5r01tu8nhiuh22o6229l8mu0dgkbn</string>
	<key>API_KEY</key>
	<string>AIzaSyDXuy6dH9Ss4DHlRJwM2GMegHUDBhp_4SY</string>
	<key>GCM_SENDER_ID</key>
	<string>477099067858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kotsevasker.TestAppTodoFirebse</string>
	<key>PROJECT_ID</key>
	<string>testapp-9e550</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-9e550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477099067858:ios:c08a829bdcad40352a600b</string>
</dict>
</plist>